body {
  background: #111111 url("/images/bg.jpg") repeat; }

#glow {
  background: url("/images/bg-top.jpg") no-repeat center;
  position: absolute;
  width: 100%;
  min-height: 600px;
  top: 0;
  left: 0;
  z-index: -9999; }

#name {
  width: 775px;
  margin: 0 auto; }

#content {
  width: 700px;
  margin: 0 auto; }
  #content h1 {
    font: 28px "Lucida Grande", helvetica, sans-serif;
    margin-top: 40px;
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid #222222; }
  #content h2 {
    font: italic 18px "Lucida Grande", helvetica, sans-serif;
    margin: 0;
    color: #eeeeee;
    font-size: 20px; }
  #content p, #content ul {
    font: 18px Georgia, Times, serif;
    color: #dddddd;
    line-height: 175%;
    text-shadow: -1px -1px 0 black; }
    #content p strong, #content ul strong {
      color: white; }
  #content #school {
    margin: 0;
    font-size: 15px;
    color: #999999; }
  #content #degree {
    margin: 0; }
  #content #graduated {
    margin: 0;
    font-size: 14px;
    color: #666666; }
  #content .date {
    margin: 0;
    font-size: 14px;
    color: #666666; }
  #content .description {
    margin: 5px 0 40px 0; }
  #content .aweber {
    font-size: 15px;
    color: #666666; }
  #content #pals {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background: #222222;
    border: 1px solid #2a2a2a; }
  #content .note {
    margin: 10px 0 50px 0;
    font: 13px "Lucida Grande", helvetica, sans-serif;
    color: #555555;
    text-align: center; }
  #content ul {
    padding: 0 0 0 20px; }
    #content ul li strong {
      color: #eeeeee; }
