!!! 5
%html
  %head
    %title Matte Noble - Software Developer
    = stylesheet_link_tag "application"
  %body
    #glow
    #name
      %img{:src => "/images/name.png", :alt => "Matte Noble - Newtown, PA - github.com/mnoble"}
    = yield
